
.bg {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.question_box {
    margin: 7%;
    text-align: center;
    display: block;
    font-family: MM_KANUN;
    width: 80%;
}

.question_text {
    font-size: 70px;
    color: wheat;
}

.question {
    margin-bottom: 3%;
}

.choices {
    margin-bottom: 10%;
    color: wheat;
    font-size: 30px;
    height: 250px;
    max-height: 250px;
    position: relative;
    font-size: small;
}

.iframe_window {
    width: 100%;
    height: 100%;
}

.hiding_box {
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    position: absolute;
    background-color: brown;
}

.give_up_btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.choice_btn {
    width: 100%;
    text-align: left;
}

.choice_type {
    text-align: right;
}

.choice_des {
    text-align: left;
}

.hight_score_text {
    font-size: 30px;
    color: wheat;
}