
.bg {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.btns {
    margin-left: 3%;
    margin-right: 3%;
}

.btn_box {
    display: inline-block;
    width: fit-content;
    margin-top: 3%;
}

.start_box {
    margin: 7%;
    text-align: center;
    display: block;
    font-family: MM_KANUN;
}

.title_text {
    font-size: 15vw;
    color: wheat;
}

.header {
    margin-bottom: 3%;
}

.hight_score_text {
    font-size: 30px;
    color: wheat;
}

.hide {
    display: none;
}